a:hover{
    color: #6B017E;
}

#about{
    background-color:rgba(210, 1, 247, 0.659);
    border-color: #6B017E;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    color: #6B017E;
    font-size: 6vh;
    -webkit-text-stroke: 2px  #D101F7;
}

#border-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#border-container2 {
    direction: rtl;
    display: flex;
}

#border{
    background-position: center;
    background-repeat: repeat;
    height: 2vh;
    opacity: 0.659;
    width: 75vw !important ;
}

#challenge{
    background-color:rgba(210, 1, 247, 0.658);
    border-color: #6B017E;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    color: #6B017E;
    font-size: 8vh;
    -webkit-text-stroke: 1px  #D101F7;
}

#description{
    background-color:rgba(210, 1, 247, 0.658);
    border-color: #6B017E;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    color: #6B017E;
    font-size: 4vh;
}

#experience{
    background-color:rgba(210, 1, 247, 0.658);
    border-color: #6B017E;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    color: #6B017E;
    font-size: 3vh;
}

#greeting{
    background-color:rgba(210, 1, 247, 0.658);
    border-color: #6B017E;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    color: #6B017E;
    font-size: 10vh;
    -webkit-text-stroke: 3px  #D101F7;
}

#menu{
    background-color:rgba(210, 1, 247, 0.658);
    border-color: #6B017E;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    color: #6B017E;
    font-size: 3vh;
    -webkit-text-stroke: 1px  #D101F7;
}

#underline{
    text-decoration: underline;
}