{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  {% block title %}
  {% endblock %}
</head>
<body style="background-image: url({% static 'Assets/bg2.png' %});">
  <div class="container-fluid">
    <div class="row align-items-center my-2">
      {% block content %}
      {% endblock %}
    </div>
    <div class="w-100"></div>
    <div class="col-md-auto">
      <a href="{% url 'index' %}">
        <p class="text-center m-0 menu">
          <strong>HOME</strong>
        </p>
      </a>
      <a href="{% url 'description' %}">
        <p class="text-center m-0 menu">
          <strong>DESCRIPTION</strong>
        </p>
      </a>
      <a href="{% url 'background' %}">
        <p class="text-center m-0 menu">
          <strong>BACKGROUND</strong>
        </p>
      </a>
      <a href="{% url 'contact' %}">
        <p class="text-center m-0 menu">
          <strong>CONTACT</strong>
        </p>
      </a>
      <a href="{% url 'challenge' %}">
        <p class="text-center m-0 menu">
          <strong>CHALLENGE</strong>
        </p>
      </a>
    </div>
    {% include "copyright.html" %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>